@import "smart-grid.less";
@import "var.less";
@import "fonts.less";
@import "first.less";

.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.2), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

body {
	background: @whitebkg;
}

//FIRST CONTAINER START
.firstContainer {
	background-color: @graybkg;
	//border: @border;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
	&__wrap {
		display: flex;
		justify-content: center;
	}
	&__logo {
		//border: @border;
		margin: 25px 0 750px 0;
		img {
			height: 47px;
		}
	}
}
//FIRST CONTAINER END



//SECOND CONTAINER START
.secondContainer {
	//height: 300px;
	&__wrap {
		//border: @border;
	}
	&__gem {
		display: flex;
		justify-content: center;
			img {
				height: 550px;
				margin-top: -480px;
				z-index: 1;
			}
	}
	&__gemText {
		display: flex;
		justify-content: center;
		h1 {
			font-size: 2.5rem;
			font-family: 'Russo One', sans-serif;
			margin-top: 25px;
		}
	}
	&__line {
		hr {
			background-color: black;
			height: 3px;
			width: 90px;
			margin-top: 60px;
		}
	}
	&__icons {
		//border: @border;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		font-family: 'Orbitron', sans-serif;
	}
	&__tree {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		i {
			font-family: 'icomoon';
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			margin-top: 25px;
		}

	}
	&__water {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		i {
			font-family: 'icomoon';
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			margin-top: 25px;
		}
	}
	&__wind {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		i {
			font-family: 'icomoon';
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			margin-top: 25px;
		}
	}
	&__mountain {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		i {
			font-family: 'icomoon';
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			margin-top: 25px;
		}
	}
	&__autumn {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		i {
			font-family: 'icomoon';
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			margin-top: 25px;
		}
	}
	&__about {
		//border: @border;
		margin-top: 70px;
		display: flex;
		justify-content: center;
	}
	&__textone {
		//border: @border;
		width: 17%;
		h2 {
			font-size: 1.4rem;
			font-family: 'Play', sans-serif;
			padding: 15px 15px;
			text-align: right;
		}
	}
	&__texttoo {
		//border: @border;
		width: 17%;
		h2 {
			font-size: 1rem;
			font-family: 'Russo One', sans-serif;
			color: #9c9c9c;
			padding: 15px 15px;
		}
	}
	&__textthree {
		//border: @border;
		width: 17%;
		h2 {
			font-size: 1rem;
			font-family: 'Russo One', sans-serif;
			color: #9c9c9c;
			padding: 15px 15px;
		}
	}

}
//SECOND CONTAINER END



//THIRD CONTAINER START

.thirdContainer {
	background-color: @graybkg;
	//border: @border;
	-webkit-clip-path: polygon(0 18%, 100% 0, 100% 82%, 0 100%);
	clip-path: polygon(0 18%, 100% 0, 100% 82%, 0 100%);
	margin-top: 180px;
	//z-index: -5;
	&__wrap {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__headline {
		//border: @border;
		margin-top: 20px;
		z-index: 5;
		h1 {
			font-size: 3rem;
			font-family: 'Orbitron', sans-serif;
			z-index: 10;
		}
	}
	&__line {
		//border: @border;
		margin-top: 60px;
		hr {
			background-color: black;
			height: 3px;
			width: 90px;
		}
	}
	&__workpeople {
		//border: @border;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 30%;
		margin: 50px 0 300px 0;
		font-family: 'Orbitron', sans-serif;
		text-align: center;
	}
	&__left {
		//width: 50%;
		h1 {
			font-size: 1.2rem;
			font-weight: bold;
			margin-top: 15px;
		}
		span {
			color: @turquoise;
			font-weight: bold;
			font-size: 0.8rem;
		}
	}
	&__right {
		//width: 50%;
		h1 {
			font-size: 1.2rem;
			font-weight: bold;
			margin-top: 15px;
		}
		span {
			color: @turquoise;
			font-weight: bold;
			font-size: 0.8rem;
		}
	}
}

//THIRD CONTAINER END

