@import "smart-grid.less";
@import "var.less";
@import "fonts.less";

.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

// миксин для блока с иконками start
.iconmixin {
	i {
		font-family: 'icomoon';
		font-size: 3rem;
		transition: @transition;
		.lg-block({
			font-size: 2.5rem;
			transition: @transition;
		});
	}
	span {
		font-size: 1rem;
		margin-top: 25px;
		text-align: center;
		transition: @transition;
		.lg-block({
			font-size: 0.8rem;
			margin-top: 15px;
			transition: @transition;
		});
		.xs-block({
			font-size: 0.9rem;
			transition: @transition;
		});
	}
}
// миксин для блока с иконками end


body {
	background: @whitebkg;
	box-sizing: border-box;
}

//FIRST CONTAINER START
.firstContainer {
	background-color: @graybkg;
	//border: @border;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
	&__wrap {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		//flex-direction: column;
	}
	&__lineone {
		//border: @border;
		height: 100%;
		width: 100%;
		margin: 10px 0 -7px 0;
		//transition: ease-out 5s;
			.lg-block({
				margin: 10px 0 -17px 0;
				//transition: ease-out 5s;
			});
		hr {
			position: relative;
			left: 22px;
			background-color: black;
			height: 1px;
			width: 25px;
			transform: rotate(120deg);
			transition: @transition;
				.lg-block({
					width: 15px;
				});
				.xs-block({
					width: 12px;
				});
		}
	}
	&__logo {
		//border: @border;
		margin: 10px 0 5px 0;
		h1 {
			font-size: 1.4rem;
			font-family: 'Ubuntu', sans-serif;
			letter-spacing: 5px;
			margin-top: 10px;
			transition: @transition;
				.lg-block({
					font-size: 1rem;
				});
				.xs-block({
					font-size: 1rem;
					letter-spacing: 3px;
				});
		}
	}
	&__linetwo {
		//border: @border;
		height: 100%;
		width: 100%;
		margin: 5px 0 750px 0;
		//transition: @transition;
			.lg-block({
				margin: -7px 0 750px 0;
			});
		hr {
			position: relative;
			left: -12px;
			background-color: black;
			height: 1px;
			width: 25px;
			transform: rotate(120deg);
			transition: @transition;
				.lg-block({
					width: 15px;
					left: 0px;
				});
				.xs-block({
					width: 12px;
				});
		}
	}
}
//FIRST CONTAINER END



//SECOND CONTAINER START
.secondContainer {
	&__wrap {
		//border: @border;
	}
	&__gem {
		display: flex;
		justify-content: center;
			img {
				//border: @border;
				height: 550px;
				margin-top: -480px;
				z-index: 1;
				transition: @transition;
					.lg-block({
						height: 450px;
						transition: @transition;
					});
					.xs-block({
						height: 400px;
						transition: @transition;
						margin-top: -650px;
					});
			}
	}
	&__gemText {
		display: flex;
		justify-content: center;
		h1 {
			font-size: 2.5rem;
			font-family: 'Russo One', sans-serif;
			margin-top: 25px;
			letter-spacing: @let-space;
			transition: @transition;
				.lg-block({
					font-size: 2rem;
					transition: @transition;
					letter-spacing: 5px;
					margin-top: 15px;
				});
				.xs-block({
					transition: @transition;
					letter-spacing: 1px;
					font-size: 1.9rem;
					margin-top: -25px;
				});
		}
	}
	&__line {
		hr {
			background-color: black;
			height: 3px;
			width: 90px;
			margin-top: 60px;
			transition: @transition;
				.lg-block({
					width: 75px;
					margin-top: 40px;
					transition: @transition;
				});
				.xs-block({
					width: 40px;
					height: 2px;
					margin-top: 25px;
				});
		}
	}
	&__icons {
		//border: @border;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		font-family: 'Orbitron', sans-serif;
		transition: @transition;
			.lg-block({
				margin-top: 50px;
				transition: @transition;
			});
			.md-block({
				.row-flex();
			});
	}
	&__tree {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		transition: @transition;
		.iconmixin();
		.md-block({
			margin: 12px 23px;
			transition: @transition;
		});
	}
	&__water {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		transition: @transition;
		.iconmixin();
		.md-block({
			margin: 12px 23px;
			transition: @transition;
		});
	}
	&__wind {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		transition: @transition;
		.iconmixin();
		.md-block({
			margin: 12px 23px;
			transition: @transition;
		});
	}
	&__mountain {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		transition: @transition;
		.iconmixin();
		.md-block({
			margin: 12px 23px;
			transition: @transition;
		});
	}
	&__autumn {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 23px;
		transition: @transition;
		.iconmixin();
		.md-block({
			margin: 12px 23px;
			transition: @transition;
		});
	}
	&__about {
		//border: @border;
		display: flex;
		.sm-block({
			.row-flex();
		});
		margin-top: 70px;
		justify-content: center;
	}
	&__textone {
		//border: @border;
		display: flex;
		.size(3);
		.size-xl(4);
		.size-md(4);
		.size-sm(12);
		h2 {
			font-size: 1.4rem;
			font-family: 'Play', sans-serif;
			padding: 15px;
			text-align: right;
			transition: @transition;
			.lg-block({
				font-size: 1rem;
				transition: @transition;
			});
			.sm-block({
				text-align: center;
				//transition: @transition;
			});
			.xs-block({
				font-size: 1.1rem;
			});
		}
	}
	&__texttoo {
		//border: @border;
		//width: 17%;
		//.row-flex();
		display: flex;
		.size(3);
		.size-xl(4);
		.size-md(4);
		.size-sm(12);
		h2 {
			font-size: 1rem;
			font-family: 'Russo One', sans-serif;
			color: #9c9c9c;
			padding: 15px 15px;
			transition: @transition;
			.lg-block({
				font-size: 0.8rem;
				transition: @transition;
			});
			.sm-block({
				text-align: center;
				//transition: @transition;
			});
			.xs-block({
				font-size: 1rem;
			});
		}
	}
	&__textthree {
		display: flex;
		.size(3);
		.size-xl(4);
		.size-md(4);
		.size-sm(12);
		h2 {
			font-size: 1rem;
			font-family: 'Russo One', sans-serif;
			color: #9c9c9c;
			padding: 15px 15px;
			transition: @transition;
			.lg-block({
				font-size: 0.8rem;
				transition: @transition;
			});
			.sm-block({
				text-align: center;
				//transition: @transition;
			});
			.xs-block({
				font-size: 1rem;
			});
		}
	}
	&__headline {
		//border: @border;
		display: flex;
		justify-content: center;
		h1 {
			//border: @border;
			font-size: 3rem;
			font-family: 'Orbitron', sans-serif;
			margin-top: 145px;
			position: absolute;
			z-index: 5;
			letter-spacing: @let-space;
			transition: @transition;
				.lg-block({
					font-size: 2.5rem;
					transition: @transition;
				});
				.md-block({
					font-size: 2rem;
					transition: @transition;
				});
				.sm-block({
					font-size: 1.9rem;
					transition: @transition;
				});
		}
	}

}
//SECOND CONTAINER END



//THIRD CONTAINER START

.thirdContainer {
	background-color: @graybkg;
	//border: @border;
	-webkit-clip-path: polygon(0 18%, 100% 0, 100% 82%, 0 100%);
	clip-path: polygon(0 18%, 100% 0, 100% 82%, 0 100%);
	margin-top: 120px;
	position: relative;
	&__wrap {
		//border: @border;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__line {
		//border: @border;
		margin-top: 130px;
		hr {
			background-color: black;
			height: 3px;
			width: 90px;
			transition: @transition;
				.lg-block({
					width: 60px;
					margin-top: -10px;
					transition: @transition;
				});
				.md-block({
					width: 40px;
					margin-top: -40px;
					transition: @transition;
				});
				.sm-block({
					width: 30px;
					height: 2px;
					margin-top: -30px;
					transition: @transition;
				});
		}
	}
	&__workpeople {
		//border: @border;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40%;
		margin: 50px 0 300px 0;
		font-family: 'Orbitron', sans-serif;
		text-align: center;
			.lg-block({
				width: 45%;
			});
			.md-block({
				width: 60%;
			});
			.xs-block({
				.row-flex();
				width: 70%;
				justify-content: center;
			});
	}
	&__left {
		//border: @border;
		margin: 10px;
		.lg-block({
			padding: 10px;
		});
		h1 {
			font-size: 1.2rem;
			font-weight: bold;
			margin-top: 15px;
			transition: @transition;
			.md-block({
				font-size: 1rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 0.8rem;
			});
		}
		span {
			color: @turquoise;
			font-weight: bold;
			font-size: 0.8rem;
			.md-block({
				font-size: 0.6rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 0.5rem;
			});
		}
	}
	&__right {
		//border: @border;
		margin: 10px;
		.lg-block({
			padding: 10px;
		});
		h1 {
			font-size: 1.2rem;
			font-weight: bold;
			margin-top: 15px;
			transition: @transition;
			.md-block({
				font-size: 1rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 0.8rem;
			});
		}
		span {
			color: @turquoise;
			font-weight: bold;
			font-size: 0.8rem;
			transition: @transition;
			.md-block({
				font-size: 0.6rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 0.5rem;
			});
		}
	}
}

//THIRD CONTAINER END



//FOUR CONTAINER START
.fourContainer {
	&__wrap {
		//border: @border;
	}
	&__workflow {
		display: flex;
		justify-content: center;
		//border: @border;
		h1 {
			//border: @border;
			font-size: 3rem;
			font-family: 'Orbitron', sans-serif;
			margin-top: -110px;
			position: absolute;
			letter-spacing: @let-space;
			transition: @transition;
			.lg-block({
				font-size: 2.5rem;
				transition: @transition;
			});
			.md-block({
				font-size: 2rem;
				transition: @transition;
			});
			.sm-block({
				font-size: 1.9rem;
				transition: @transition;
			});
		}
	}
	&__line {
		//border: @border;
		hr {
			background-color: black;
			height: 3px;
			width: 90px;
			transition: @transition;
			.lg-block({
				width: 60px;
				margin-top: -10px;
				transition: @transition;
			});
			.md-block({
				width: 40px;
				margin-top: -40px;
			});
			.sm-block({
				width: 30px;
				height: 2px;
				margin-top: -50px;
			});
		}
	}
	&__process {
		display: flex;
		justify-content: center;
		//border: @border;
		span {
			//border: @border;
			width: 20%;
			font-weight: bold;
			margin-top: 60px;
			text-align: center;
			font-size: 1.4rem;
			font-family: 'Russo One', sans-serif;
			transition: @transition;
			.xl-block({
				width: 40%;
				transition: @transition;
			});
			.md-block({
				font-size: 1.2rem;
				margin-top: 40px;
			});
			.sm-block({
				width: 45%;
				font-size: 1rem;
			});
			.xs-block({
				font-size: 0.8rem;
			});
			h4 {
				color: @turquoise;
				display: inline-block;
				font-weight: bold;
				padding: 0 5px;
			}
		}
	}
	&__rounds{
		//border: @border;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		transition: @transition;
		.md-block({
			margin-top: 60px;
			transition: @transition;
		});
		.xs-block({
			margin-top: 30px;
			display: none;
			transition: @transition;
		});
		img {
			//border: @border;
			width: 60%;
			height: 100%;
			transition: @transition;
			.md-block({
				width: 70%;
				transition: @transition;;
			});
		}
	}
	&__descrrounds {
		//border: @border;
		margin: 70px 0 120px 0;
		display: flex;
		justify-content: center;
		.md-block({
			margin: 40px 0 50px 0;
		});
	}
	&__desctext {
		//border: @border;
		display: flex;
		justify-content: space-around;
		width: 60%;
		transition: @transition;
		.md-block({
			width: 70%;
			transition: @transition;
		});
		.xs-block({
			.row-flex();
			width: 100%;
			align-items: center;
			transition: @transition;
		});
		span {
			//border: @border;
			font-family: 'Russo One', sans-serif;
			font-size: 1rem;
			font-weight: bolder;
			text-align: center;
			margin: 0 5px;
			transition: @transition;
			.lg-block({
				font-size: 0.8rem;
				transition: @transition;
			});
			.md-block({
				font-size: 0.8rem;
				transition: @transition;
				font-weight: normal;
				font-weight: bolder;
			});
			.xs-block({
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: 12px 0;
				font-weight: bolder;
				font-size: 0.9rem;
			});
		}
		img {
			display: none;
			transition: @transition;
			-webkit-animation: rotate 15s linear infinite;
			animation: rotate 15s linear infinite;
			.xs-block({
				display: block;
				width: 50px;
				transition: @transition;
			});
		}
	}
}
//FOUR CONTAINER END

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}