@import "smart-grid.less";
@import "var.less";
@import "fonts.less";
@import "first.less";

.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.2), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

body {
	background: @graybkg;
}

/*
.container {
	//border: @border;
	height: 100%;
		&-stone {
			&-logo {
				display: flex;
				justify-content: center;
				img {
					height: 52px;
					margin-top: 23px;
				}
			}
			&-gem {
				border: @border;
				display: flex;
				justify-content: center;
				margin-top: 270px;
				img {
					height: 550px;
				}
			}
			&-stonetext {
				border: @border;
				display: flex;
				justify-content: center;
				margin-top: 30px;
				span {
					font-family: 'Russo One', sans-serif;
					font-size: 2.7rem;
				}
			}
		}
}
*/

.firstContainer {
	&__wrap {
		border: 1px solid blue;
		margin: 12px;
		display: flex;
		justify-content: center;
	}
	&__logo {
		border: @border;
		margin: 12px;
		img {
			height: 47px;
		}
	}
}